#gameboard{
    border: 3px solid;
}
#gamecontainer{
    text-align: center;
}
#bodyCount{
    font-family: Courier;
    font-size:100px;
}
#reset{
    font-family: Courier;
    font-size:22px;
    width:110px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
}
